<form action="/station/${_station.id}/addreading" method="POST">
    <div class="columns">
        <div class="field column">
            <label class="label">Code</label>
            <div class="select is-normal">
                <select name="code">
                    <option value="100">100 - Clear</option>
                    <option value="200">200 - Partial Clouds</option>
                    <option value="300">300 - Cloudy</option>
                    <option value="400">400 - Light Showers</option>
                    <option value="500">500 - Heavy Showers</option>
                    <option value="600">600 - Rain</option>
                    <option value="700">700 - Snow</option>
                    <option value="800">800 - Thunder</option>
                </select>
            </div>
        </div>
        <div class="field column">
            <label class="label">Temperature</label>
            <div class="control">
                <input class="input" placeholder="00.0 C" type="float" name="temperature">
            </div>
        </div>
        <div class="field column">
            <label class="label">Wind Speed</label>
            <div class="control">
                <input class="input" placeholder="00.00kMh" type="float" name="windSpeed">
            </div>
        </div>
        <div class="field column">
            <label class="label">Wind Direction</label>
            <div class="control">
                <input class="input" placeholder="000 degrees" type="float" name="windDirection">
            </div>
        </div>
        <div class="field column">
            <label class="label">Pressure</label>
            <div class="control">
                <input class="input" placeholder="000hPa" type="float" name="pressure">
            </div>
        </div>
    </div>
    <div class="field mt-4">
        <div class="control">
            <button class="button is-info">Submit Report</button>
        </div>
    </div>