#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<div class="content box">
  <div class="columns">
    <div class="column is-one-third">
    <p class="title">
      About The App
    </p>
    <p>
      Monitor latest weather station readings
    </p>
  </div>
     <div class="column is-two-thirds">
       <img src ="/public/images/iphone_weather_cold.jpg"
           alt="An iphone screen showing a temperature reading of -18C"
           width="682" height="512">
    </div>
  </div>
</div>