#{extends 'main.html' /}
#{set title:'Welcome' /}

#{welcomemenu id:"start"/}

<div class="content box">
    <p class="title">
        Welcome to Weathertop
    </p>
    <p>
        Log in or register to start using Weathertop™.
        <br> Our app allows you to record readings from your Weathertop™ weather station kit.
    </p>
    <figure class="image is-150x150">
        <img class="is-rounded" src="/public/images/weathersock.jpg"
             alt="A red windsock against an off-white background">
    </figure>
</div>
